:root {
	--lightbrown:	#916e42;
	--brown:		#6e4e41;
	--darkbrown:	#48323b;
	--lightcyan:	#00c692;
	--cyan:			#0d9c95;
	--darkcyan:		#13667e;
	--darkercyan:	#153765;
	--darkestcyan:	#1b1437;
	--pink:			#e3329a;
	--darkpink:		#890094;
	--white:		#ffffff;
	--black:		#000000;
	--darkblue:		#090512;
}

body {
	margin: 0;
	font-family: Arial, sans-serif;
	background-color: var(--darkblue);
}

header {
	position: fixed;
	top: 0;
	width: 100%;
	height: 70px;
	background-color: var(--darkblue);

	display: flex;
	justify-content: space-between;
	align-items: center;

	padding: 0 20px;
	box-sizing: border-box;
	z-index: 1000;
}

.header-left {
	display: flex;
	align-items: center;
	gap: 30px;
}

.header-logo {
	height: 40px;
}

nav a {
	display: inline-block;
	padding: 8px 16px;

	color: var(--white);
	text-decoration: none;
	font-weight: bold;

	border: 2px solid var(--white);
	border-radius: 10px;

	background-color: transparent;
	transition: all 0.3s ease;
}

nav a:hover {
	background-color: var(--white);
	color: var(--darkblue);
}

.header-right img {
	height: 25px;
	margin-left: 15px;
	cursor: pointer;
}

main {
	margin-top: 70px;
	background-color: var(--darkblue);
	background-image: 
		linear-gradient(to top, var(--darkblue) 220px, rgba(0,0,0,0)),
		url("../imgs/main_background.png");

	background-repeat: no-repeat, repeat-x;
	background-position: top, top;
	background-size: 100% auto, auto;
}

.center {
	text-align: center;
}

p{
	color: var(--white);
	line-height: 1.6;
	margin-top: 10px;
	font-size: 20px;
  	
	font-weight: 400;
  	font-style: normal;
}

#our-mission p{
	color: var(--brown);
}

#main-logo {
	margin-top: 70px;
	width: 640px;
	height: auto;
}

.pixel-perfect-image{
	image-rendering: optimizeSpeed;
	image-rendering: -moz-crisp-edges;
	image-rendering: -o-crisp-edges;
	image-rendering: -webkit-optimize-contrast;
	image-rendering: optimize-contrast;
	image-rendering: pixelated;
	-ms-interpolation-mode: nearest-neighbor;
}
